body {
    font-family: 'Arial', sans-serif; 
    color: #098246; 
    background-color: hsl(111, 29%, 11%); 
    padding: 20px;
}

/* სათაური H1 სტილი */
h1 {
    font-family: 'Georgia', serif;
    font-weight: bold; 
    color: rgb(71, 18, 78); 
    text-align: center;
    
}


p {
    font-family: 'Verdana', sans-serif; 
    font-size: 16px;
    color: lightskyblue; 
    font-style: italic; 
    line-height: 2.5; 
}