body {
    font-family: 'Arial', sans-serif; 
    color: #333333; 
    background-color: hsl(200, 50%, 95%); 
    padding: 20px;
}

/* სათაური H1 სტილი */
h1 {
    font-family: 'Georgia', serif;
    font-weight: bold; 
    color: rgb(50, 50, 150); 
    text-align: center;
    
}


p {
    font-family: 'Verdana', sans-serif; 
    font-size: 16px;
    color: brown; 
    font-style: italic; 
    line-height: 1.5; 
}