body {
    font-family: 'Arial', sans-serif; 
    color: #982374; 
    background-color: hsl(82, 77%, 47%); 
    padding: 20px;
}

/* სათაური H1 სტილი */
h1 {
    font-family: 'Georgia', serif;
    font-weight: bold; 
    color: rgb(89, 118, 26); 
    text-align: center;
    
}


p {
    font-family: 'Verdana', sans-serif; 
    font-size: 16px;
    color: red; 
    font-style: italic; 
    line-height: 3.5; 
}