*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-between;
}
.div-1{
    border: 5px solid gray;
    background-color: blue;
    width: 150px;
}
.div-2{
    border: 5px solid grey;
    background-color: blue;
    width: 150px;
}
