*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
table{
    border-collapse: collapse;
    border: 1px solid rgb(255, 3, 3);
}
tr:not(:first-child):hover{
    background-color: rgb(29, 171, 124);
}
td, th{
    padding: 5px 10px;
}
tr:nth-child(1){
    background-color: rgb(139, 0, 139);
    border-bottom: 1px solid rgb(255, 255, 255);
    color: white;
}
tr:nth-child(2n){
    background-color: rgb(255, 248, 220);
    border-bottom: 1px solid rgb(0, 0, 0);
}