* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: wheat;
}

h1 {
    text-align: center;
}

#link:link {
    color: aqua;
}

#active:active {
    color: brown;
}

#visited:visited {
    color: green;
}

#hover:hover {
    font-weight: 900;
    color: aqua;
}